#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.ContenedorProducto{
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;


}

.TProducto{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 300px;
  height: 450px;
  background-color: rgb(70, 138, 180);
  border: 2px solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  color: black

}

.ver-mas {
  /* Estilos específicos para el botón "Ver más" */
  background-color: #18406b; 
  color: #ffffff; 
  border: none; 
  padding: 0.5rem 1rem; 
  border-radius: 0.25rem; 
  margin: 10px;
}

.ver-mas:hover {
  /* Estilos al pasar el cursor sobre el botón */
  background-color: #0056b3; 
}


.TProducto h1{
  font-size: 1rem;
}

.PaginacionBarra{
  display: flex;

}

.PaginacionUl{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}