#root {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ContenedorTodoProducto{
  margin-top: 5%;
}

.btn-agregar {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor al pasar por encima */
}

.btn-agregar:hover {
  background-color: #45a049; /* Cambio de color al pasar el mouse */
}
/* Estilo para el botón */
.btn-primary {
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  padding: 0.5rem 1rem; /* Espaciado interno */
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  border-radius: 0.25rem; /* Borde redondeado */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

/* Estilo para el botón al pasar el cursor sobre él */
.btn-primary:hover {
  background-color: #0056b3; /* Cambiar color de fondo al pasar el cursor */
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.ContenedorProducto{
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;


}

.TopBar {
  position: fixed; /* Cambiar a 'absolute' si prefieres que sea relativo al contenedor padre */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #343434;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.TopBar-brand {
  font-size: 1.5rem;
}

.TopBar-logo {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.TopBar-links {
  display: flex;
}

.TopBar-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem;
}

.TopBar-link:hover {
  background-color: #e6e6e6;
}

.TProducto{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 300px;
  height: 450px;
  background-color: hsl(210, 53%, 67%);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin: 1rem;
  color: rgb(0, 0, 0)

}

.ver-mas {
  /* Estilos específicos para el botón "Ver más" */
  background-color: #18406b; 
  color: #ffffff; 
  border: none; 
  padding: 0.5rem 1rem; 
  border-radius: 0.25rem; 
  margin: 10px;
}

.ver-mas:hover {
  /* Estilos al pasar el cursor sobre el botón */
  background-color: #0056b3; 
}


.TProducto h1{
  font-size: 1rem;
}

.PaginacionBarra{
  display: flex;

}

.PaginacionUl{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}